<div class="page-content-max">
  <center>

    <h3><%= gettext "Edit %></h3>

    <%= render "form.html", changeset: @changeset,
    action: user_path(@conn, :update, @user),
    submit_value: gettext("Update") %>
  </center>
</div>
