<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <%= for room <- @user.rooms do %>
      <p><%= room.uuid %></p>
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
<div>
