<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lewini Live Chat: A Live Chat Software for Business!</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <!-- <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer"> -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Lewini</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <%= link "Home",    to: page_path(@conn, :index), class: "mdl-navigation__link" %>
            <%= if @current_user do %>
              <%= link "Setup", to: room_path(@conn, :index), class: "mdl-navigation__link" %>
              <%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete, class: "mdl-navigation__link" %>
              <%= link @current_user.email, to: "#", class: "mdl-navigation__link" %>
            <% else %>
              <%= link "Login",    to: session_path(@conn, :new), class: "mdl-navigation__link" %>
              <%= link "Register", to: user_path(@conn, :new), class: "mdl-navigation__link" %>
            <% end %>
          </nav>
        </div>
      </header>
      <!--
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      -->
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <div class="page-content-max">
            <br/>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          </div>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
    </div>

    <%= if !@current_user && !Enum.member?(@conn.path_info, 'room') do %>
      <div data-id="34f8904d-3495-4823-be36-35301c2aa97d" id="lewini-chat"></div>
    <% end %>
    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
