<div class="page-content-max">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">

      <br/>

      <center>
        <%= render "form.html", changeset: @changeset,
        action: project_path(@conn, :update, @project) %>

        <br/>

        <%= link gettext("Back"), to: project_path(@conn, :index) %>
      </center>

    </div>
  </div>
</div>
