<h2>Edit auto message config</h2>

<%= render "form.html", changeset: @changeset,
                        action: auto_message_config_path(@conn, :update, @auto_message_config) %>

<%= link "Back", to: auto_message_config_path(@conn, :index) %>
