<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <center>
      <%= render "form.html", changeset: @changeset, rooms: @rooms,
      action: auto_message_config_path(@conn, :create) %>
    </center>
    <%= link "Back", to: auto_message_config_path(@conn, :index) %>
  </div>
</div>

