<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= gettext "Lewini Live Chat: A Live Chat Software for Business!" %></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-blue.min.css" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="alternate" hreflang="en" href=<%= current_locale_url(@conn, "en") %> />
    <link rel="alternate" hreflang="ja" href=<%= current_locale_url(@conn, "ja") %> />
    <%= render "track.html" %>
  </head>

  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <!-- <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer"> -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Lewini</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <%= if @admin do %>
              <%= link gettext("Home"),   to: admin_user_path(@conn, :index), class: "mdl-navigation__link" %>
              <%= link gettext("Users"),  to: admin_user_path(@conn, :index), class: "mdl-navigation__link" %>
              <%= link gettext("Logout"), to: admin_session_path(@conn, :delete, @admin), method: :delete, class: "mdl-navigation__link" %>
            <% else %>
              <%= link gettext("Home"),   to: admin_user_path(@conn, :index), class: "mdl-navigation__link" %>
              <%= link gettext("Login"),  to: admin_session_path(@conn, :new), class: "mdl-navigation__link" %>
            <% end %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <%= if get_flash(@conn, :info) || get_flash(@conn, :error) do %>
            <center>
              <p>
                <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
                <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
              </p>
            </center>
          <% end %>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
    </div>

    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
