<script>document.body.style.display = 'none';</script>
<div style="display:none">
  <div id="embedded-site">
    <%= raw @data %>
  </div>

  <script>window.room_uuid = "<%= @room.uuid %>"</script>
  <script>window.js_src = "<%= static_path(@conn, "/js/app.js") %>"</script>
</div>
