@import '~getmdl-select/getmdl-select.min.css';

/* Phoenix flash messages */
.alert:empty { display: none; }

.page-content-max {
    max-width: 900px;
    margin: auto;
}

.nav-page nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.nav-page nav ul li.active a {
    text-decoration: none;
}

.lp-img {
    height: 350px;
    max-width: 100%;
}

h1.large {
    font-size: 2.5em;
}

h2.large {
    font-size: 2em;
}

p.large {
    font-size: 1.5em;
}

p.mid {
    font-size: 1.3em;
}
