@import '~getmdl-select/getmdl-select.min.css';

/* Phoenix flash messages */
.alert:empty { display: none; }

.page-content-max {
    max-width: 900px;
    margin: auto;
}

.nav-page nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.nav-page nav ul li.active a {
    text-decoration: none;
}