<div class="page-content-max">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">

      <h2>Show news</h2>

      <ul>

        <li>
          <strong>Content:</strong>
          <%= @news.content %>
        </li>

      </ul>

      <%= link "Edit", to: news_path(@conn, :edit, @news) %>
      <%= link "Back", to: news_path(@conn, :index) %>

    </div>
  </div>
</div>
